.tooltip {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
    z-index: 1000;
    display: none;
    white-space: nowrap;
}

.tooltip-option {
    padding: 2px 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.tooltip-option:last-child {
    border-bottom: none;
}

.tooltip-option:hover {
    background-color: #ddd;
}
